[user]
  name = Carson Seese
  email = carson@carsonseese.com

[includeIf "gitdir:C:"]
  path = ~/.config/git/gitconfig-windows

[includeIf "gitdir:/Users"]
  path = ~/.config/git/gitconfig-macos

[includeIf "gitdir:/home"]
  path = ~/.config/git/gitconfig-linux

[gpg]
  format = ssh